<h3>New Idea</h3>
<form id="new-idea-form">
  <%= text_field_tag :title, nil, placeholder: "Title" %>
  <%= text_field_tag :body, nil, placeholder: "Body" %>
  <p class="btn btn-default" id="save">Save</p>
</form>
<h3>Ideas</h3>
<table class="table" id="idea-table">
  <tr id="headings">
    <th>Title</th>
    <th>Body</th>
    <th>Quality</th>
  </tr>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.title %></td>
        <td><%= idea.body %></td>
        <td><%= idea.quality %></td>
      </tr>
    <% end %>
</table>
