<h3>Search Your Ideas</h3>
<form id="search-form">
  <%= text_field_tag :search, nil, placeholder: "Search" %>
</form>

<h3>New Idea</h3>
<form id="new-idea-form">
  <%= text_field_tag :title, nil, placeholder: "Title" %>
  <%= text_field_tag :body, nil, placeholder: "Body" %>
  <p class="btn btn-default" id="save">Save</p>
</form>
<h3>Ideas</h3>
<table class="table" id="idea-table">
  <tr id="headings">
    <th>Title</th>
    <th>Body</th>
    <th>Quality</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
    <% @ideas.each do |idea| %>
      <tr id=<%= "idea-#{idea.id}"%> data-title="<%= idea.body %>" data-body="<%= idea.body %>">
        <td class="title"><%= idea.title %></td>
        <td class="body"><%= idea.body.truncate(80, separator: /\s/) %></td>
        <td class="quality"><%= idea.quality %></td>
        <td id=<%= "#{idea.id}" %> class="btn btn-default delete">delete</td>
        <td id=<%= "up-#{idea.id}" %> class="btn btn-default up">thumbs up</td>
        <td id=<%= "down-#{idea.id}" %> class="btn btn-default down">thumbs down</td>
      </tr>
    <% end %>
</table>
